
/*================================================
Default Area CSS
=================================================*/
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;display=swap");
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

.ptb-120 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.bg-fffcfb {
  background-color: #fffcfb;
}

.bg-fff7f4 {
  background-color: #fff7f4;
}

p {
  margin-bottom: 15px;
  color: #666666;
  font-size: 15px;
  line-height: 1.8;
}

p:last-child {
  margin-bottom: 0;
}

img {
  max-width: 100%;
}

button {
  outline: 0 !important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
}

a {
  display: block;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #323232;
  outline: 0;
}

a:hover {
  text-decoration: none;
  color: #ff5d24;
}

.d-table {
  width: 100%;
  height: 100%;
}

.d-table-cell {
  vertical-align: middle;
}

/*btn*/
.btn {
  padding: 14px 28px;
  text-transform: uppercase;
  line-height: initial;
  border-radius: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 15px;
  font-weight: 500;
}

.btn.disabled, .btn:disabled {
  opacity: 1;
}

.btn-primary {
  color: #ffffff;
  background-color: #ff5d24;
  border-color: #ff5d24;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color: #ff5d24;
  border-color: #ff5d24;
  background-color: transparent;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.02);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.02);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #ffffff;
  background-color: #ff5d24;
  border-color: #ff5d24;
}

.btn-primary:hover, .btn-primary:focus {
  color: #ff5d24;
  border-color: #ff5d24;
  background-color: transparent;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.02);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.02);
}

.btn-secondary {
  background-color: transparent;
  color: #ff5d24;
  border-color: #ff5d24;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.05), 0 10px 10px rgba(0, 0, 0, 0.02);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.05), 0 10px 10px rgba(0, 0, 0, 0.02);
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle {
  background-color: #ff5d24;
  color: #ffffff;
  border-color: #ff5d24;
}

.btn-secondary.focus, .btn-secondary:focus {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show > .btn-secondary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.02);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.02);
}

.btn-secondary.disabled, .btn-secondary:disabled {
  background-color: transparent;
  color: #ff5d24;
  border-color: #ff5d24;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.05), 0 10px 10px rgba(0, 0, 0, 0.02);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.05), 0 10px 10px rgba(0, 0, 0, 0.02);
}

.btn-secondary:hover, .btn-secondary:focus {
  background-color: #ff5d24;
  color: #ffffff;
  border-color: #ff5d24;
}

/*section-title*/
.section-title {
  position: relative;
  margin-bottom: 60px;
}

.section-title .btn {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.section-title span {
  display: block;
  color: #22b663;
  text-transform: uppercase;
  margin-bottom: 12px;
  position: relative;
  padding-left: 15px;
  z-index: 1;
  padding-top: 3px;
  padding-bottom: 2px;
  font-size: 15px;
  font-weight: 400;
}

.section-title span::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 50px;
  background: #22b663;
  z-index: -1;
  opacity: .20;
}

.section-title span.bg-f59f00 {
  color: #f59f00;
}

.section-title span.bg-f59f00::before {
  background: #f59f00;
}

.section-title span.bg-0018ff {
  color: #0018ff;
}

.section-title span.bg-0018ff::before {
  background: #0018ff;
}

.section-title span.bg-ff5d24 {
  color: #ff5d24;
}

.section-title span.bg-ff5d24::before {
  background: #ff5d24;
}

.section-title h2 {
  margin-bottom: 0;
  max-width: 640px;
  font-weight: 700;
  font-size: 38px;
}

.section-title p {
  max-width: 580px;
  margin-bottom: 0;
  margin-top: 12px;
}

.section-title.text-center span {
  display: inline-block;
}

.section-title.text-center h2 {
  margin-left: auto;
  margin-right: auto;
}

.section-title.text-center p {
  max-width: 665px;
  margin-bottom: 0;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

/*form-control*/
.form-group {
  margin-bottom: 15px;
}

.form-control {
  height: 45px;
  padding: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: initial;
  color: #323232;
  background-color: transparent;
  border: 1px solid #eeeeee;
  border-radius: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.form-control:focus {
  -webkit-box-shadow: unset;
          box-shadow: unset;
  border-color: #ff5d24;
}

.form-control::-webkit-input-placeholder {
  color: #5f5f5f;
}

.form-control:-ms-input-placeholder {
  color: #5f5f5f;
}

.form-control::-ms-input-placeholder {
  color: #5f5f5f;
}

.form-control::placeholder {
  color: #5f5f5f;
}

/*================================================
Preloader Area CSS
=================================================*/
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ff5d24;
  z-index: 9999999;
  text-align: center;
}

.preloader .loader {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-animation: load 1.2s infinite 0s ease-in-out;
          animation: load 1.2s infinite 0s ease-in-out;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  color: #ffffff;
  top: 45%;
  -webkit-transform: translateY(-45%);
          transform: translateY(-45%);
  font-size: 30px;
  font-weight: 700;
}

@-webkit-keyframes load {
  0% {
    opacity: 0.08;
    -webkit-filter: blur(5px);
            filter: blur(5px);
    letter-spacing: 3px;
  }
}

@keyframes load {
  0% {
    opacity: 0.08;
    -webkit-filter: blur(5px);
            filter: blur(5px);
    letter-spacing: 3px;
  }
}

/*================================================
Boxes Area CSS
=================================================*/
.boxes-area {
  position: relative;
  z-index: 1;
}

.boxes-area::before {
  content: '';
  height: 150px;
  -webkit-box-shadow: 7px 5px 30px 0 rgba(72, 73, 121, 0.08);
          box-shadow: 7px 5px 30px 0 rgba(72, 73, 121, 0.08);
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  right: 0;
  background: #ffffff;
  margin-left: 140px;
  margin-right: 140px;
}

.single-box {
  text-align: center;
  position: relative;
  z-index: 1;
  background-color: #ff5d24;
  padding: 25px;
  overflow: hidden;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.02);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.02);
}

.single-box .icon {
  color: #ffffff;
}

.single-box .icon i::before {
  font-size: 45px;
}

.single-box h3 {
  margin-top: 10px;
  margin-bottom: 0;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
}

.single-box p {
  color: #ffffff;
  margin-top: 13px;
  margin-bottom: 0;
}

.single-box .learn-more-btn {
  margin-top: 17px;
  color: #ffffff;
}

.single-box .learn-more-btn::before {
  background: #ffffff;
}

.single-box .shape-box img:nth-child(1) {
  position: absolute;
  left: -60px;
  top: -60px;
  z-index: -1;
}

.single-box .shape-box img:nth-child(2) {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.single-box.bg-43c784 {
  background-color: #43c784;
}

.single-box.bg-43c784 .shape-box img:nth-child(1) {
  left: auto;
  right: -60px;
  top: -60px;
}

.single-box.bg-43c784 .shape-box img:nth-child(2) {
  right: auto;
  bottom: 0;
  left: 0;
}

.single-box.bg-f59f00 {
  background-color: #f59f00;
}

.single-box.bg-f59f00 .shape-box img:nth-child(1) {
  left: auto;
  right: -60px;
  top: auto;
  bottom: -60px;
}

.single-box.bg-f59f00 .shape-box img:nth-child(2) {
  bottom: auto;
  left: -25px;
  top: -25px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

/*================================================
About Area CSS
=================================================*/
.about-area {
  position: relative;
  z-index: 1;
}

.about-content {
  padding-left: 30px;
}

.about-content span {
  display: block;
  color: #ff5d24;
  text-transform: uppercase;
  margin-bottom: 12px;
  position: relative;
  z-index: 1;
  padding-left: 15px;
  padding-top: 3px;
  padding-bottom: 2px;
  font-size: 15px;
  font-weight: 400;
}

.about-content span::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 50px;
  background: #ff5d24;
  z-index: -1;
  opacity: .20;
}

.about-content h2 {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 38px;
}

.about-content p {
  margin-top: 12px;
  margin-bottom: 0;
}

.about-content .about-features-list {
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  margin-top: 10px;
}

.about-content .about-features-list li {
  -ms-flex: 0 0 50%;
  -webkit-box-flex: 0;
          flex: 0 0 50%;
  max-width: 50%;
  font-weight: 500;
  color: #666666;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 10px;
}

.about-content .about-features-list li i {
  color: #ffb923;
  margin-right: 2px;
}

.about-content .btn-box {
  margin-top: 25px;
}

.about-content .video-btn {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 49px;
  text-align: center;
  border: 1px solid #ff5d24;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  top: 3.5px;
  margin-left: 25px;
}

.about-content .video-btn i::before {
  font-size: 20px;
}

.about-content .video-btn::after {
  z-index: -1;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 50px;
  -webkit-animation: ripple 1.6s ease-out infinite;
          animation: ripple 1.6s ease-out infinite;
  opacity: 0;
  border-radius: 50%;
  background: rgba(255, 93, 36, 0.3);
}

.about-content .video-btn:hover, .about-content .video-btn:focus {
  color: #ffffff;
  background-color: #ff5d24;
}

.about-company-content span {
  display: block;
  color: #ff5d24;
  text-transform: uppercase;
  margin-bottom: 12px;
  position: relative;
  z-index: 1;
  padding-left: 15px;
  padding-top: 3px;
  padding-bottom: 2px;
  font-size: 15px;
  font-weight: 400;
}

.about-company-content span::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 50px;
  background: #ff5d24;
  z-index: -1;
  opacity: .20;
}

.about-company-content h2 {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 38px;
}

.about-our-company-inner {
  margin-top: 120px;
  z-index: 1;
  position: relative;
  background-color: #ffffff;
}

.about-our-company-inner::before {
  z-index: -1;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 93%;
  content: '';
  position: absolute;
  background: #fff7f4;
}

.about-inner-company-content h2 {
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 38px;
}

.bg-shape1 {
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 25px;
}

.bg-shape1 img {
  max-width: 80%;
}

.shape-img9 {
  z-index: -1;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@-webkit-keyframes ripple {
  0%, 35% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}

@keyframes ripple {
  0%, 35% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}

/*================================================
Services Area CSS
=================================================*/
.services-area {
  padding-bottom: 90px;
}

.single-services-box {
  background-color: #ffffff;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.02);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.02);
  padding: 30px;
  border-radius: 3px;
  margin-bottom: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-services-box .icon {
  display: inline-block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffdfd4), color-stop(#ffe6e0), color-stop(#ffeeeb), color-stop(#fff6f5), to(#fffefe));
  background: linear-gradient(to bottom, #ffdfd4, #ffe6e0, #ffeeeb, #fff6f5, #fffefe);
  text-align: center;
  border-radius: 50%;
  color: #ff5d24;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-services-box .icon i::before {
  font-size: 38px;
}

.single-services-box .icon.bg-24b765 {
  color: #24b765;
  background: -webkit-gradient(linear, left top, left bottom, from(#beead1), color-stop(#c9f0e1), color-stop(#d9f5ee), color-stop(#eaf9f8), to(#fdfefe));
  background: linear-gradient(to bottom, #beead1, #c9f0e1, #d9f5ee, #eaf9f8, #fdfefe);
}

.single-services-box .icon.bg-f59f00 {
  color: #f59f00;
  background: -webkit-gradient(linear, left top, left bottom, from(#fdeccc), color-stop(#fef0d7), color-stop(#fef4e1), color-stop(#fff8ec), to(#fffcf7));
  background: linear-gradient(to bottom, #fdeccc, #fef0d7, #fef4e1, #fff8ec, #fffcf7);
}

.single-services-box .icon.bg-f7b232 {
  color: #f7b232;
  background: -webkit-gradient(linear, left top, left bottom, from(#fdeccc), color-stop(#feefd6), color-stop(#fff3df), color-stop(#fff6e9), to(#fffaf3));
  background: linear-gradient(to bottom, #fdeccc, #feefd6, #fff3df, #fff6e9, #fffaf3);
}

.single-services-box .icon.bg-fe5d24 {
  color: #fe5d24;
  background: -webkit-gradient(linear, left top, left bottom, from(#feded2), color-stop(#fee5db), color-stop(#ffede5), color-stop(#fff4ef), to(#fffbf9));
  background: linear-gradient(to bottom, #feded2, #fee5db, #ffede5, #fff4ef, #fffbf9);
}

.single-services-box .icon.bg-45c27c {
  color: #45c27c;
  background: -webkit-gradient(linear, left top, left bottom, from(#beead1), color-stop(#c9f0e1), color-stop(#d9f5ee), color-stop(#eaf9f8), to(#fdfefe));
  background: linear-gradient(to bottom, #beead1, #c9f0e1, #d9f5ee, #eaf9f8, #fdfefe);
}

.single-services-box h3 {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 700;
}

.single-services-box p {
  margin-top: 12px;
  margin-bottom: 0;
}

.single-services-box .learn-more-btn {
  margin-top: 15px;
}

.single-services-box:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.single-services-box:hover .icon {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.services-box {
  text-align: center;
  background-color: #ffffff;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.02);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.02);
  padding: 30px;
  border-radius: 3px;
  margin-bottom: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.services-box .icon {
  display: inline-block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffdfd4), color-stop(#ffe6e0), color-stop(#ffeeeb), color-stop(#fff6f5), to(#fffefe));
  background: linear-gradient(to bottom, #ffdfd4, #ffe6e0, #ffeeeb, #fff6f5, #fffefe);
  text-align: center;
  border-radius: 50%;
  color: #ff5d24;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.services-box .icon i::before {
  font-size: 38px;
}

.services-box .icon.bg-24b765 {
  color: #24b765;
  background: -webkit-gradient(linear, left top, left bottom, from(#beead1), color-stop(#c9f0e1), color-stop(#d9f5ee), color-stop(#eaf9f8), to(#fdfefe));
  background: linear-gradient(to bottom, #beead1, #c9f0e1, #d9f5ee, #eaf9f8, #fdfefe);
}

.services-box .icon.bg-f59f00 {
  color: #f59f00;
  background: -webkit-gradient(linear, left top, left bottom, from(#fdeccc), color-stop(#fef0d7), color-stop(#fef4e1), color-stop(#fff8ec), to(#fffcf7));
  background: linear-gradient(to bottom, #fdeccc, #fef0d7, #fef4e1, #fff8ec, #fffcf7);
}

.services-box .icon.bg-f7b232 {
  color: #f7b232;
  background: -webkit-gradient(linear, left top, left bottom, from(#fdeccc), color-stop(#feefd6), color-stop(#fff3df), color-stop(#fff6e9), to(#fffaf3));
  background: linear-gradient(to bottom, #fdeccc, #feefd6, #fff3df, #fff6e9, #fffaf3);
}

.services-box .icon.bg-fe5d24 {
  color: #fe5d24;
  background: -webkit-gradient(linear, left top, left bottom, from(#feded2), color-stop(#fee5db), color-stop(#ffede5), color-stop(#fff4ef), to(#fffbf9));
  background: linear-gradient(to bottom, #feded2, #fee5db, #ffede5, #fff4ef, #fffbf9);
}

.services-box .icon.bg-45c27c {
  color: #45c27c;
  background: -webkit-gradient(linear, left top, left bottom, from(#beead1), color-stop(#c9f0e1), color-stop(#d9f5ee), color-stop(#eaf9f8), to(#fdfefe));
  background: linear-gradient(to bottom, #beead1, #c9f0e1, #d9f5ee, #eaf9f8, #fdfefe);
}

.services-box h3 {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 700;
}

.services-box p {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-top: 12px;
  margin-bottom: 0;
}

.services-box .learn-more-btn {
  margin-top: 15px;
}

.services-box img {
  position: absolute;
  right: -100px;
  top: -100px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.services-box:hover {
  background-color: #ff5d24;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.services-box:hover .icon {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.services-box:hover h3 {
  color: #ffffff;
}

.services-box:hover p {
  color: #ffffff;
}

.services-box:hover .learn-more-btn {
  color: #ffffff;
}

.services-box:hover .learn-more-btn::before {
  background: #ffffff;
}

.services-box:hover img {
  opacity: 1;
  visibility: visible;
  right: -80px;
  top: -80px;
}

.learn-more-btn {
  display: inline-block;
  color: #ff5d24;
  font-weight: 600;
  position: relative;
  z-index: 1;
}

.learn-more-btn i {
  margin-left: 3px;
}

.learn-more-btn i::before {
  font-size: 13px;
}

.learn-more-btn::before {
  width: 100%;
  height: 1px;
  background: #ff5d24;
  content: '';
  bottom: 1.5px;
  left: 0;
  position: absolute;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.learn-more-btn:hover::before {
  left: auto;
  right: 0;
  width: 0;
}

/*================================================
Services Details Area CSS
=================================================*/
.services-details .services-details-desc {
  margin-top: 25px;
}

.services-details .services-details-desc h3 {
  margin-bottom: 15px;
  line-height: 1.5;
  font-size: 20px;
  font-weight: 700;
}

.services-details .services-details-desc h3:not(:first-child) {
  margin-top: 20px;
}

.services-details .services-details-desc .services-details-features-list {
  background-color: #ffffff;
  padding: 40px;
  -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
  margin-top: 30px;
}

.services-details .services-details-desc .services-details-features-list ul {
  padding-left: 0;
  list-style-type: none;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 0;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: -12px;
}

.services-details .services-details-desc .services-details-features-list ul li {
  margin-top: 12px;
  color: #666666;
  -ms-flex: 0 0 50%;
  -webkit-box-flex: 0;
          flex: 0 0 50%;
  max-width: 50%;
  padding-right: 15px;
  padding-left: 15px;
}

.services-details .services-details-desc .services-details-features-list ul li i {
  color: #ff5d24;
  margin-right: 2px;
}

.services-details .services-details-desc .services-details-features-list ul li i::before {
  font-size: 13px;
}

.services-details .services-details-desc .services-details-features-list ul li:nth-child(1) i, .services-details .services-details-desc .services-details-features-list ul li:nth-child(6) i, .services-details .services-details-desc .services-details-features-list ul li:nth-child(10) i {
  color: #22b663;
}

.services-details .services-details-desc .services-details-features-list ul li:nth-child(4) i, .services-details .services-details-desc .services-details-features-list ul li:nth-child(7) i {
  color: #f8c363;
}

.services-details .services-details-desc .services-details-features-list ul li:nth-child(5) i, .services-details .services-details-desc .services-details-features-list ul li:nth-child(9) i {
  color: #545454;
}

.services-details .services-details-desc .services-details-faq {
  margin-top: 25px;
}

.services-details .services-details-desc .services-details-faq .accordion {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.services-details .services-details-desc .services-details-faq .accordion .accordion-item {
  display: block;
  margin-bottom: 15px;
}

.services-details .services-details-desc .services-details-faq .accordion .accordion-item:last-child {
  margin-bottom: 0;
}

.services-details .services-details-desc .services-details-faq .accordion .accordion-item .accordion-title {
  color: #323232;
  position: relative;
  padding-left: 22px;
  font-size: 16px;
  font-weight: 600;
}

.services-details .services-details-desc .services-details-faq .accordion .accordion-item .accordion-title i {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-52%);
          transform: translateY(-52%);
  font-size: 14px;
}

.services-details .services-details-desc .services-details-faq .accordion .accordion-item .accordion-title:hover, .services-details .services-details-desc .services-details-faq .accordion .accordion-item .accordion-title.active {
  color: #ff5d24;
}

.services-details .services-details-desc .services-details-faq .accordion .accordion-item .accordion-title.active i::before {
  content: "\f068";
}

.services-details .services-details-desc .services-details-faq .accordion .accordion-content {
  display: none;
  margin-top: 8px;
}

.services-details .services-details-desc .services-details-faq .accordion .accordion-content.show {
  display: block;
}

.services-sidebar .services-list {
  -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
}

.services-sidebar .services-list ul {
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 0;
}

.services-sidebar .services-list ul li {
  margin-bottom: 7px;
}

.services-sidebar .services-list ul li a {
  font-weight: 500;
  padding: 10px 12px;
  background-color: #d0eedd;
  color: #22b663;
  position: relative;
}

.services-sidebar .services-list ul li a i {
  position: absolute;
  right: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.services-sidebar .services-list ul li a:hover, .services-sidebar .services-list ul li a.active {
  background-color: #22b663;
  color: #ffffff;
  -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
}

.services-sidebar .services-list ul li:nth-child(2) a, .services-sidebar .services-list ul li:nth-child(4) a, .services-sidebar .services-list ul li:nth-child(7) a {
  color: #ff5d24;
  background-color: #fddcd1;
}

.services-sidebar .services-list ul li:nth-child(2) a:hover, .services-sidebar .services-list ul li:nth-child(2) a.active, .services-sidebar .services-list ul li:nth-child(4) a:hover, .services-sidebar .services-list ul li:nth-child(4) a.active, .services-sidebar .services-list ul li:nth-child(7) a:hover, .services-sidebar .services-list ul li:nth-child(7) a.active {
  color: #ffffff;
  background-color: #ff5d24;
}

.services-sidebar .services-list ul li:nth-child(3) a, .services-sidebar .services-list ul li:nth-child(5) a {
  color: #f59f00;
  background-color: #fbe9ca;
}

.services-sidebar .services-list ul li:nth-child(3) a:hover, .services-sidebar .services-list ul li:nth-child(3) a.active, .services-sidebar .services-list ul li:nth-child(5) a:hover, .services-sidebar .services-list ul li:nth-child(5) a.active {
  color: #ffffff;
  background-color: #f59f00;
}

.services-sidebar .services-download-list ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.services-sidebar .services-download-list ul li {
  margin-bottom: 10px;
}

.services-sidebar .services-download-list ul li a {
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
  font-weight: 500;
  padding: 14px 15px;
}

.services-sidebar .services-download-list ul li a:hover {
  background-color: #22b663;
  color: #ffffff;
}

.services-sidebar .services-download-list ul li a i {
  margin-right: 2px;
}

.services-sidebar .services-download-list ul li:last-child {
  margin-bottom: 0;
}


/*================================================
Page Title Area CSS
=================================================*/
.page-title-area {
  text-align: center;
  position: relative;
  z-index: 1;
  background-color: #ffffff;
  background-image: url(../img/page-title-bg.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: 1px solid #eeeeee;
  padding-top: 120px;
  padding-bottom: 50px;
}

.page-title-content h2 {
  text-transform: uppercase;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 30px;
}

.page-title-content ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -15px;
  display: inline-block;
  background-color: #ffffff;
  padding: 5px 15px;
}

.page-title-content ul li {
  font-size: 16px;
  display: inline-block;
  margin-right: 20px;
  position: relative;
  color: #ff5d24;
}

.page-title-content ul li a {
  color: #323232;
}

.page-title-content ul li a:hover {
  color: #ff5d24;
}

.page-title-content ul li::before {
  content: "\f054";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  font-size: 10px;
  position: absolute;
  right: -15px;
  top: 50%;
  color: #323232;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.page-title-content ul li:last-child {
  margin-right: 0;
}

.page-title-content ul li:last-child::before {
  display: none;
}


/*================================================
Page Body Area CSS
=================================================*/
.page-body-area {
  text-align: center;
  background-color: #ffffff;
}

/*================================================
Research Area CSS
=================================================*/
.research-area {
  padding-bottom: 90px;
}

.single-research-box {
  margin-bottom: 30px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
}

.single-research-box .research-image {
  overflow: hidden;
}

.single-research-box .research-image a img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-research-box .research-content {
  padding: 25px;
}

.single-research-box .research-content span {
  display: inline-block;
  background-color: #ffe7de;
  color: #ff5d24;
  padding: 5px 15px;
  border-radius: 30px;
  font-size: 13px;
}

.single-research-box .research-content h3 {
  margin-bottom: 0;
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
}

.single-research-box .research-content p {
  margin-bottom: 0;
  margin-top: 12px;
}

.single-research-box:hover .research-image a img {
  opacity: 0.7;
}

/*================================================
Research Details Area CSS
=================================================*/
.research-details-info {
  -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
  background-color: #ffffff;
  padding: 50px 40px;
}

.research-details-info h3 {
  margin-bottom: 25px;
  font-size: 20px;
  font-weight: 700;
}

.research-details-info ul {
  margin-bottom: 0;
  list-style-type: none;
  border-top: 1px solid #eeeeee;
  padding-left: 0;
  padding-top: 25px;
}

.research-details-info ul li {
  margin-bottom: 20px;
  color: #666666;
  position: relative;
  padding-left: 53px;
}

.research-details-info ul li span {
  display: block;
  text-transform: uppercase;
  color: #323232;
  margin-bottom: 4px;
  font-weight: 700;
}

.research-details-info ul li i {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #ff5d24;
  background-color: #ffdfd3;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.research-details-info ul li:nth-child(2) i, .research-details-info ul li:nth-child(5) i {
  background-color: #d9f3e6;
  color: #22b663;
}

.research-details-info ul li:nth-child(3) i, .research-details-info ul li:nth-child(6) i {
  background-color: #fdeccc;
  color: #f59f00;
}

.research-details-desc {
  margin-top: 50px;
}

.research-details-desc h3 {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
}

.research-details-desc h3:not(:first-child) {
  margin-top: 20px;
}

.research-details-features {
  margin-top: 50px;
}

.research-details-features .features-box {
  background-color: #ffffff;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.02);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.02);
  padding: 30px;
  border-radius: 3px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.research-details-features .features-box .icon {
  display: inline-block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffdfd4), color-stop(#ffe6e0), color-stop(#ffeeeb), color-stop(#fff6f5), to(#fffefe));
  background: linear-gradient(to bottom, #ffdfd4, #ffe6e0, #ffeeeb, #fff6f5, #fffefe);
  text-align: center;
  border-radius: 50%;
  color: #ff5d24;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.research-details-features .features-box .icon i::before {
  font-size: 38px;
}

.research-details-features .features-box .icon.bg-24b765 {
  color: #24b765;
  background: -webkit-gradient(linear, left top, left bottom, from(#beead1), color-stop(#c9f0e1), color-stop(#d9f5ee), color-stop(#eaf9f8), to(#fdfefe));
  background: linear-gradient(to bottom, #beead1, #c9f0e1, #d9f5ee, #eaf9f8, #fdfefe);
}

.research-details-features .features-box .icon.bg-f59f00 {
  color: #f59f00;
  background: -webkit-gradient(linear, left top, left bottom, from(#fdeccc), color-stop(#fef0d7), color-stop(#fef4e1), color-stop(#fff8ec), to(#fffcf7));
  background: linear-gradient(to bottom, #fdeccc, #fef0d7, #fef4e1, #fff8ec, #fffcf7);
}

.research-details-features .features-box .icon.bg-f7b232 {
  color: #f7b232;
  background: -webkit-gradient(linear, left top, left bottom, from(#fdeccc), color-stop(#feefd6), color-stop(#fff3df), color-stop(#fff6e9), to(#fffaf3));
  background: linear-gradient(to bottom, #fdeccc, #feefd6, #fff3df, #fff6e9, #fffaf3);
}

.research-details-features .features-box .icon.bg-fe5d24 {
  color: #fe5d24;
  background: -webkit-gradient(linear, left top, left bottom, from(#feded2), color-stop(#fee5db), color-stop(#ffede5), color-stop(#fff4ef), to(#fffbf9));
  background: linear-gradient(to bottom, #feded2, #fee5db, #ffede5, #fff4ef, #fffbf9);
}

.research-details-features .features-box .icon.bg-45c27c {
  color: #45c27c;
  background: -webkit-gradient(linear, left top, left bottom, from(#beead1), color-stop(#c9f0e1), color-stop(#d9f5ee), color-stop(#eaf9f8), to(#fdfefe));
  background: linear-gradient(to bottom, #beead1, #c9f0e1, #d9f5ee, #eaf9f8, #fdfefe);
}

.research-details-features .features-box h3 {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 700;
}

.research-details-features .features-box p {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-top: 12px;
  margin-bottom: 0;
}

.research-details-features .features-box img {
  position: absolute;
  right: -100px;
  top: -100px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.research-details-features .features-box:hover {
  background-color: #ff5d24;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.research-details-features .features-box:hover .icon {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.research-details-features .features-box:hover h3 {
  color: #ffffff;
}

.research-details-features .features-box:hover p {
  color: #ffffff;
}

.research-details-features .features-box:hover .learn-more-btn {
  color: #ffffff;
}

.research-details-features .features-box:hover .learn-more-btn::before {
  background: #ffffff;
}

.research-details-features .features-box:hover img {
  opacity: 1;
  visibility: visible;
  right: -80px;
  top: -80px;
}

.research-details-desc-footer {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 50px;
}

.research-details-desc-footer .article-tags {
  -ms-flex: 0 0 50%;
  -webkit-box-flex: 0;
  flex: 0 0 50%;
  max-width: 50%;
}

.research-details-desc-footer .article-tags span {
  display: inline-block;
  color: #323232;
  font-size: 20px;
  margin-right: 5px;
  position: relative;
  top: 2px;
}

.research-details-desc-footer .article-tags a {
  display: inline-block;
  background-color: #f8f8f8;
  color: #323232;
  padding: 5px 15px;
  font-size: 13px;
  font-weight: 500;
}

.research-details-desc-footer .article-tags a:hover {
  background-color: #ff5d24;
  color: #ffffff;
}

.research-details-desc-footer .article-share {
  -ms-flex: 0 0 50%;
  -webkit-box-flex: 0;
  flex: 0 0 50%;
  max-width: 50%;
}

.research-details-desc-footer .article-share .social {
  padding-left: 0;
  list-style-type: none;
  text-align: right;
  margin-bottom: 0;
}

.research-details-desc-footer .article-share .social li {
  display: inline-block;
}

.research-details-desc-footer .article-share .social li a {
  position: relative;
  color: #ffffff;
  background-color: #959c98;
  width: 33px;
  height: 33px;
  line-height: 33px;
  text-align: center;
  border-radius: 50%;
  font-size: 13px;
  z-index: 1;
}

.research-details-desc-footer .article-share .social li a:hover {
  color: #ffffff;
  background-color: #ff5d24;
}

.related-project {
  margin-top: 80px;
}

.related-project .section-title {
  margin-bottom: 20px;
}

.related-project .single-research-box {
  margin-bottom: 0;
  margin-top: 30px;
}

/*================================================
Pagination Area CSS
=================================================*/
.pagination-area {
  margin-top: 30px;
  text-align: center;
}

.pagination-area .page-numbers {
  width: 40px;
  height: 40px;
  margin: 0 3px;
  display: inline-block;
  background-color: #ffffff;
  line-height: 40px;
  color: #323232;
  -webkit-box-shadow: 0 2px 10px 0 #d8dde6;
          box-shadow: 0 2px 10px 0 #d8dde6;
  font-size: 17px;
  font-weight: 600;
}

.pagination-area .page-numbers.current, .pagination-area .page-numbers:hover, .pagination-area .page-numbers:focus {
  background: #ff5d24;
  color: #ffffff;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}


/*================================================
404 Error Area CSS
=================================================*/
.error-area {
  height: 100vh;
}

.error-content {
  text-align: center;
  margin: 0 auto;
  max-width: 700px;
}

.error-content h3 {
  font-size: 35px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 17px;
}

.error-content p {
  max-width: 520px;
  margin: 0 auto 20px;
}

/*================================================
 copyright Area CSS
=================================================*/
.copyright-area {
  margin-top: 70px;
  border-top: 1px solid #eeeeee;
  padding-top: 25px;
  padding-bottom: 25px;
}

.copyright-area p a {
  display: inline-block;
  color: #666666;
}

.copyright-area p a:hover {
  color: #ff5d24;
}

.copyright-area ul {
  padding-left: 0;
  margin-bottom: 0;
  text-align: right;
  list-style-type: none;
}

.copyright-area ul li {
  display: inline-block;
  margin-left: 13px;
}

.copyright-area ul li a {
  color: #696969;
}

.copyright-area ul li a:hover {
  color: #ff5d24;
}

/*================================================
Go Top CSS
=================================================*/
.go-top {
  position: fixed;
  cursor: pointer;
  bottom: 25px;
  right: 0;
  background-color: #323232;
  color: #ffffff;
  z-index: 4;
  width: 40px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .9s;
  transition: .9s;
}

.go-top.active {
  right: 25px;
  opacity: 1;
  visibility: visible;
}

.go-top:hover, .go-top:focus {
  background-color: #ff5d24;
  color: #ffffff;
}
/*# sourceMappingURL=style.css.map */